@using QBOTest.Web.Startup
@{
    ViewBag.CurrentPageName = PageNames.QuickBooksDesktop;
    ViewBag.Title = L("QuickBooksDesktop");
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="m-0 text-dark">@L("QuickBooksDesktop")</h1>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">


                        <h3>Download WebConnector file to integrate your App with your QuickBooks Desktop.</h3>

                        <form action="~/QBDesktop/DownloadCompanyFile" method="post" target="_blank">
                            <button class="GreenButton">Download</button>

                        </form>

                        <fieldset style="width: 95%;">

                            <legend>Instructions</legend>

                            <div style="font-size:small;margin-top:1%">
                                <header>Please read the following instructions for integrating with your QuickBooks Desktop:</header>
                                <ol>


                                    <li style="margin-bottom:1%">If you have not installed Quickbooks WebConnector on your machine on which your Quickbooks Desktop is running, please <a href="https://developer.intuit.com/app/developer/qbdesktop/docs/get-started/get-started-with-quickbooks-web-connector#quickbooks-products-supported-by-web-connector" target="_blank"> Download QuickBooks Web Connector </a> and follow the instructions on the given link for installation. </li>
                                   <li style="margin-bottom:1%">Download the Company file(.qwc) (Select Download Option above the instruction section for downloading). </li>
                                    <li style="margin-bottom:1%">Open your QuickBooks Desktop Application and go to top menu <b>File</b> &gt;&gt; <b>Update Services&lt;</b>&gt; and select. It will open WebConnector in a new popup window.</li>

                                    <li style="margin-bottom:1%;margin-top:1%">Select Add an Application in WebConnector it will ask for choosing a file(.qwc). Select the file (.qwc) which you have downloaded from App</li>
                                    <li style="margin-bottom:1%">After selecting the file, WebConnector will open an <b>"Authorize New Web Service" </b>popup window. Select <b>"Ok"</b>.</li>
                                    <li style="margin-bottom:1%">The WebConnector will then display the <b>"Application Certification"</b>.&nbsp; Select <b>"Yes"</b> on the prompt each time it comes up, then select <b>Continue</b>.</li>
                                    <li style="margin-bottom:1%">An "Access Confirmation" will be asked from WebConnector. Select "Done".</li>
                                    <li style="margin-bottom:1%">After setting up the WebConnector, enter your password under the password section and then press the <b>"Enter" button</b>.</li>
                                    <li style="margin-bottom:1%">Select the checkbox to the left of your QuickBooks Integrator. and then select "Update Selected". Import/Export will Start according to your entered settings.</li>

                                    <li style="margin-bottom:1%;margin-top:1%">When the Import/Export Process gets Started Don't Close your QuickBooks application otherwise the process will stop.</li>
                                    <li style="margin-bottom:1%">During the Export Process make sure that you don't have any open records in the Edit window related to Customer, Employee, Item &amp; Services, Vendor and their transactions in your QuickBooks application otherwise that records will not update.</li>
                                </ol>
                                                                

                            </div>

                        </fieldset>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
